# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
vs/.vs/
vs/commandcenter

# vim
*~
*.swp

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/TechTree.json
*.tlog
*.obj
vs/RelWithDebInfo/CommandCenter.log
*.log
*.pdb
*.suo
*.swp
3rdparty/BWEM/build_vs2017/BWEM141/asus-Debug
vs/asus-Debug
3rdparty/BWEM/build_vs2017/BWEM141/Debug
vs/Debug

cscope*
build
3rdparty/bwapi-4.4.0/Documentation
